body {
  margin: 0;
  overflow: hidden;
  color: #fff;
}
[role="img"] {
  cursor: default;
}

main {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  max-width: 480px;
  font-family: sans-serif;
  z-index: 1;

  #unit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 32px;
    background: rgba(158,0,128,0.15);
    color: rgba(255,255,255,0.5);
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;

    transition: color 250ms ease-in-out;

    &.active {
      color: #fff;
    }
  }

  #current {
    position: relative;
    text-align: center;

    span {
      display: block;
    }
    .city {
      font-size: 1.25rem;
    }
    .temp {
      font-size: 2rem;
    }
  }

  #hourly {
    margin: 10px 0;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 5px 0;
    width: 100%;
    font-size: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    li {
      display: inline-block;
      width: 2.3rem;
      font-size: 1rem;

      span {
        display: block;
        padding: 4px 6px;
      }
    }
  }

  #week {
    position: relative;
    padding: 0;
    list-style: none;

    li {
      font-size: 0;
      span {
        display: inline-block;
        font-size: 1rem;

        &.day {
          width: 50%;
        }
        &.condition {
          width: 25%;
        }
        &.high,
        &.low {
          width: 12.5%;
        }
      }
    }

    li:first-child {
      .day::after {
        content: 'Today';
        padding-left: 1ch;
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
  }
}

#visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
